footer.main-footer {
  padding: 6px !important;
  width: 100%;
  left: 0px;
}
.btn-margin {
  margin: 2px 10px;
  font-size: 2vw;
  padding: 1px;
  text-align: center;
}
/* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .btn-margin {
      font-size: 1vw;
    }
 }
 /* Small devices (tablets, 768px and up) */
  @media (min-width: 970px) {
    .btn-margin {
      margin: 5px 10px;
      padding: 5px;
      font-size: 14px;
    }
 }
.bootstrap-timepicker-widget.dropdown-menu {
  width: 53%
}

#time-log {
  margin-left: 40px;
}

#time-log .form-group {
  margin-bottom: 0px !important;
}

.btn-log {
  border-radius: 50%;
  margin-top: 31px !important;
  height: 100px;
  width: 100px;
}

.btn-log span {
  font-weight: bold;
  font-size: 18px;
}

.alert {
  padding: 10px !important;
}

.alert-success {
  background-color: #dff0d8 !important;
  color: #3c763d !important;
  border-color:#d6e9c6 !important;
}

.alert-error {
  background-color: #e67466 !important;
}

#clock {
  margin: 10px auto 0px !important;
  width: 400px !important;
  padding: 20px !important;
}

#clock .display {
  padding: 40px 20px 70px !important;
}

/* Employee Logo */
.user-panel>.image>img {
  width: 45px !important;
  height: 45px !important;
  border: 3px solid;
  border-color: rgba(255,255,255,0.2);
}

.navbar-nav>.user-menu .user-image {
  width: 35px !important;
  height: 35px !important;
  margin-top: -7px !important;
  border: 3px solid;
  border-color: rgba(255,255,255,0.2);
}

.content-header h1 {
  font-weight: bold !important;
}

/*Custom Tabs*/
.nav-tabs-custom>.nav-tabs {
  border-bottom-color: #9c9797 !important;
}

.nav-tabs-custom>.nav-tabs> li.active {
  border-top-color: #dd4b39 !important;
}

.nav-tabs-custom>.nav-tabs> li.active>a {
  background-color: #f3f0f0 !important;
  font-weight: bold !important;
  color: #dd4b39 !important;
}
.nav-tabs-custom>.nav-tabs>li>a {
  font-weight: bold !important;
}


/*** PROCESSING PROGRESS BAR ***/
.progress {
  font-size: 14px !important;
  border-radius: 4px;
  background-color: #ccc9c9 !important;
  height: 25px !important;
}

/* DTR Table */
table#employee-dtr thead tr th, 
table#employee-dtr tbody tr td {
  text-align: center !important;
  vertical-align: middle !important;
  border: 0.02em solid #e6dfdf;
}
table.dataTable thead > tr > th {
     padding-right: 0px !important; 
}

.loading {
  display: none;
}

#logtimeModal .modal-content,
#approvalModal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logtimeModal .modal-header {
  padding: 8px !important;
  background-color: #d73925;
}

#logtimeModal .modal-header h4 {
  font-size: 15px;
  color: #ffffff;
}

#logtimModal #msg-log {
  font-weight: bold;
}
@media (min-width: 768px) {
  .form-inline #approvalModal .form-group {
    margin-bottom: 10px !important;
    display: inherit !important;
  }

  #approvalModal .form-control {
    width: 100% !important;
  }
}
#approvalModal .container {
  width: 700px !important;
}
#approvalModal .modal-footer {
  margin-left: 20% !important;
  padding-top: 0px !important;
}
#approvalModal .modal-body {
  padding-bottom: 0px;
}

#obt-tab #approvalModal .modal-content {
  top: 70% !important;
}

/* Multiple selection */
.select2-container--default .select2-selection--multiple 
.select2-selection__choice__remove:hover {
  color: #333 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #3c8dbc !important;
  border: 1px solid #5299f1 !important;
}

.select2-container--default .select2-selection--multiple {
  border-radius: 0px !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid #6297f9 1px !important;
}

table.reports thead tr th {
  text-align: center !important;
  word-wrap: break-word !important;
}

div.upload {
    background-color:#fff;
    border: 1px solid #ddd;
    border-radius:5px;
    display:inline-block;
    height: 36px;
    padding:3px 40px 3px 3px;
    position:relative;
    width: auto;
}

div.upload:hover {
    opacity:0.95;
}

div.upload input[type="file"] {
    display: input-block;
    width: 100%;
    height: 30px;
    opacity: 0;
    cursor:pointer;
    position:absolute;
    left:0;
}